*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background: #fff;
  font-family: sans-serif;
  background: url("bg.jpg");
}
.logo,
nav a{
  text-transform: Uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 200;
}
nav{
  background: #0003;
}
.logo,
nav{
  text-align: center;
  padding: 20px;
}
.logo{
  text-transform: capitalize;
  color: #fff;
  font-size: 2em;
  font-weight: 600;
}
a{
  padding: 5px 20px;
}
nav a:hover{
  color: #bdc;
}
